<div class="toolbar-wrap" ng-controller="ToolbarController">
	<div class="btn-group-vertical" ng-show="panel.active != 'drawings'">
	  <label class="btn" ng-model="Drawing.current.state.tool" btn-radio="'transform'"><i class="fa fa-arrows"></i></label>
	  <label class="btn" ng-model="Drawing.current.state.tool" btn-radio="'rectangle'"><i class="fa fa-square"></i></label>
	  <label class="btn" ng-model="Drawing.current.state.tool" btn-radio="'oval'"><i class="fa fa-circle"></i></label>
	  <label class="btn" ng-model="Drawing.current.state.tool" btn-radio="'text'"><i class="fa fa-font"></i></label>
	</div>
</div>