<div class="panel-wrap" ng-class="{'sorting': sorting}" ng-controller="PanelController">
  <div class="panel">
    <div ng-class="{
      'active': panel.active == 'drawings',
      'transition': panel.transition,
      'staging-right': panel.stagingRight == 'drawings',
      'staging-left': panel.stagingLeft == 'drawings'
    }">
      <div class="top-wrap main">
        <i class="add fa fa-plus" ng-click="newDrawing()"></i> <h2 class="panel-title">Drawings</h2>
      </div>
      <div class="btn-group-vertical layer-layers drawing-group">
        <!-- <label class="btn" ng-repeat="drawing in Drawing.drawings | orderBy:'title'" ng-model="Drawing.current" btn-radio="drawing"> -->
        <!-- <label class="btn" ng-repeat="drawing in Drawing.drawings | orderBy:'title'" ng-model="Drawing.current" btn-radio="drawing" ui-sref="drawing({drawingId: drawing.id})"> -->
        <label class="btn" ng-repeat="drawing in Drawing.drawings | orderBy:'title'" ng-model="Drawing.current" btn-radio="drawing" ng-dblclick="panel.show('layers', 'right')">
          <div class="clearfix">
            <i class="thumbnail thumbnail-picture fa fa-picture-o"></i>
            <a href="#" onclick="return false" ng-click="panel.show('layers', 'right')" class="text">{{ drawing.title }}</a>
            <div class="action-buttons">
              <i class="fa fa-close" ng-click="Drawing.removeDrawing(drawing);"></i>
            </div>
          </div>
        </label>
      </div>
      <!-- <div style="font-size: 9px; color: yellow;">{{ Drawing.current }}</div> -->
    </div>  
    <div class="panel-main" ng-class="{
      'active': panel.active == 'layers',
      'transition': panel.transition,
      'staging-right': panel.stagingRight == 'layers',
      'staging-left': panel.stagingLeft == 'layers'
    }">
      <div class="top-wrap main">
        <i class="back fa fa-arrow-left" ng-click="panel.show('drawings', 'left')"></i> <h2 class="panel-title">Edit Drawing</h2>
      </div>
      <!-- <h2 class="drawing-title">Untitled Drawing</h2> -->
      <div class="title-edit-wrap slim">
       <input type="text" class="input-dark title-edit main-title" ng-model="Drawing.current.title" ng-blur="Drawing.current.save()" />
      </div>
      <div class="btn-group-vertical layer-layers" ui-sortable="sortableOptions" ng-model="Drawing.current.layers">
        <label class="btn" ng-repeat="layer in Drawing.current.layers" ng-model="Drawing.current.layerCurrent" btn-radio="layer" ng-click="layerClick(layer)" ng-dblclick="panel.show('layerDetail', 'right')" ng-mouseenter="layerMouseEnter(layer)" ng-mouseleave="layerMouseLeave()">
          <div class="clearfix">
            <i ng-if="layer.type == 'rectangle'" class="thumbnail thumbnail-box" ng-style="{background: layer.color}"></i>
            <i ng-if="layer.type == 'oval'" class="thumbnail thumbnail-box thumbnail-oval" ng-style="{background: layer.color}"></i>
            <i ng-if="layer.type == 'text'" class="thumbnail thumbnail-text fa fa-font" ng-style="{color: '{{ colorPalette.color }}'}"></i>
            <a href="#" class="text" onclick="return false" ng-click="panel.show('layerDetail', 'right')">{{ layer.title }}</a>
            <div class="action-buttons">
              <i class="fa fa-close" ng-click="Drawing.current.removeLayer(layer); Drawing.current.save()"></i>
            </div>
          </div>
        </label>
      </div>
      <div class="btn-group-vertical layer-layers background-layer">
        <label class="btn" ng-click="layerClick(background.layer)" ng-dblclick="Drawing.current.layerCurrent = background.layer; panel.show('layerDetail', 'right')">
          <div class="clearfix">
            <i class="thumbnail thumbnail-box" ng-style="{background: background.layer.color}"></i>
            <a href="#" onclick="return false"  ng-click="Drawing.current.layerCurrent = background.layer; panel.show('layerDetail', 'right')" class="text">{{ background.layer.title }}</a>
          </div>
        </label>
      </div>
      <!-- <div style="font-size: 9px; color: yellow;">{{ Drawing.current.layerOutline }}</div> -->
      <div class="bottom-buttons-wrap">
        <div class="bottom-buttons">
          <i class="fa fa-trash trash" ng-class="{
            'hover': overTrash,
            'active': sorting
          }"></i>
          <i class="fa fa-folder active"></i>
        </div>
      </div>
    </div>
    <div class="panel-secondary" ng-class="{
      'active': panel.active == 'layerDetail',
      'transition': panel.transition,
      'staging-right': panel.stagingRight == 'layerDetail',
      'staging-left': panel.stagingLeft == 'layerDetail'
    }">
      <div class="top-wrap">
        <!-- <i class="back fa fa-arrow-left" ng-click="hideSecondary($event)"></i> -->
        <i class="back fa fa-arrow-left" ng-click="panel.show('layers', 'left')"></i> <h2 class="panel-title">Edit Layer</h2>
      </div>
      <div class="title-edit-wrap">
        <input type="text" class="input-dark title-edit" ng-model="Drawing.current.layerCurrent.title" ng-blur="Drawing.current.save()" />
        <br><br>
      </div>
      <div class="attr-detail">
        <div class="half-width-outer">
          <div class="half-width-wrap">
            <div class="half-width">
              <label class="attr-label">Opacity:</label><draw-input draw-model="Drawing.current.layerCurrent.fillOpacity" unit="%" on-blur="Drawing.current.save()"></draw-input>
            </div>
          </div>
          <div class="half-width-wrap">
            <div class="half-width">
            <label class="attr-label">Color:</label><button class="layer-color" ng-style="{background: Drawing.current.layerCurrent.color}" ng-click="panel.show('colors', 'right'); colorPalette.current.model = Drawing.current.layerCurrent"></button>
            </div>
          </div>
          <div class="half-width-wrap">
            <div class="half-width">
              <label class="attr-label">X:</label><draw-input draw-model="Drawing.current.layerCurrent.x" unit="px" on-blur="Drawing.current.save()"></draw-input>
            </div>
          </div>
          <div class="half-width-wrap">
            <div class="half-width">
              <label class="attr-label">Y:</label><draw-input draw-model="Drawing.current.layerCurrent.y" unit="px" on-blur="Drawing.current.save()"></draw-input>
            </div>
          </div>
          <div class="half-width-wrap">
            <div class="half-width">
              <label class="attr-label">Width:</label><draw-input draw-model="Drawing.current.layerCurrent.width" unit="px" on-blur="Drawing.current.save()"></draw-input>
            </div>
          </div>
          <div class="half-width-wrap">
            <div class="half-width">
              <label class="attr-label">Height:</label><draw-input draw-model="Drawing.current.layerCurrent.height" unit="px" on-blur="Drawing.current.save()"></draw-input>
            </div>
          </div>
          <div class="half-width-wrap">
            <div class="half-width">
              <label class="attr-label">Stroke:</label><draw-input draw-model="Drawing.current.layerCurrent.stroke.width" unit="px" on-blur="Drawing.current.save()"></draw-input>
            </div>
          </div>
          <div class="half-width-wrap">
            <div class="half-width">
              <label class="attr-label">Str Col:</label><button class="layer-color" ng-style="{background: Drawing.current.layerCurrent.stroke.color}" ng-click="panel.show('colors', 'right'); colorPalette.current.model = Drawing.current.layerCurrent.stroke"></button>
            </div>
          </div>
          <div class="half-width-wrap">
            <div class="half-width">
              <label class="attr-label">Radius:</label><draw-input draw-model="Drawing.current.layerCurrent.radius" unit="px" on-blur="Drawing.current.save()"></draw-input>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-colors" ng-class="{
      'active': panel.active == 'colors',
      'transition': panel.transition,
      'staging-right': panel.stagingRight == 'colors',
      'staging-left': panel.stagingLeft == 'colors'
    }">
      <div class="top-wrap">
        <i class="back fa fa-arrow-left" ng-click="panel.show('layerDetail', 'left'); Drawing.current.save()"></i>  <h2 class="panel-title">Edit Color</h2>
      </div>
      <div class="btn-group color-palette">
      	<!-- {{ colorPalette.current.model }} -->
        <label ng-repeat="color in colorPalette.palette" class="btn" ng-style="{background: '{{ color }}'}" ng-model="colorPalette.current.model.color" btn-radio="'{{ color }}'"></label>
      </div>
    </div>
  </div>
</div>