<div class="header-wrap" ng-controller="HeaderController">
	<h1>Draw</h1>
	<button class="active-color" ng-style="{background: colorPalette.color}" ng-click="showColors($event, colorPalette)"></button>
	<span class="save-state">{{ state.saveState }}</span>
	<!-- <div class="font-size-wrap" ng-if="state.tool == 'text'">
	  <input type="text" class="font-size-input" ng-model="current.shape.font.size" /><div class="btn-group font-size-dropdown" dropdown>
	    <button type="button" class="btn btn-primary dropdown-toggle">
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu dropdown-menu-right" role="menu">
	      <li ng-repeat="SIZE in FONT_SIZES"><button ng-click="fontSizeClick($event, SIZE)">{{ SIZE }}</button></li>
	    </ul>
	  </div>
	</div> -->
</div>