<!-- "oncontextmenu" disables right clicking in the canvas -->
<div class="canvas-wrap" ng-controller="CanvasController" oncontextmenu="return false;">
  <svg 
    class="canvas"
    ng-style="{
      width: canvasWidth,
      height: canvasHeight,
      opacity: showCanvas ? 1 : 0
    }"
    ng-class="{
      draw: state.tool == 'rectangle' || state.tool == 'oval', 
      transform: state.tool == 'transform',
      text: state.tool == 'text'
    }"
    ng-mousedown="mouseDown($event)" 
    ng-mousemove="mouseMove($event)" 
    ng-mouseup="mouseUp($event)">
    <draw-rect layer="background.layer"></draw-rect>
    <svg ng-repeat="layer in layers | reverse">
      <draw-rect ng-if="layer.type == 'rectangle'" layer="layer"></draw-rect>
      <draw-oval ng-if="layer.type == 'oval'" layer="layer"></draw-oval>
     <!--  <foreignObject ng-if="shape.type == 'text'" ng-attr-x="{{ shape.x }}" ng-attr-y="{{ shape.y }}" ng-attr-width="{{ shape.getWidth() }}" ng-attr-height="{{ shape.getHeight() }}" ng-controller="ShapeCtrl" ng-class="{active: shape.active}">
        <textarea 
          class="svg-text" 
          ng-controller="TextCtrl" 
          ng-style="{
            width: shape.getWidth() + 'px',
            height: shape.getHeight() + 'px',
            'font-size': shape.size + 'px',
            color: shape.color
          }" 
          ng-click="click($event)" 
          ng-mousedown="mouseDown($event)" 
          ng-mouseup="mouseUp($event)" 
          ng-focus="focus()"></textarea>
      </foreignObject> -->
    </svg>
    <svg>
      <draw-outline layer="background.layer" background="true"></draw-outline>
      <draw-outline ng-if="layerCurrent.layer" layer="layerCurrent.layer"></draw-outline>
    </svg> 
  </svg>
</div>