<!-- "oncontextmenu" disables right clicking in the canvas -->
<div class="canvas-wrap" ng-controller="CanvasController" oncontextmenu="return false;">
  <svg 
    class="canvas"
    ng-style="{
      width: canvasWidth,
      height: canvasHeight,
      opacity: showCanvas ? 1 : 0
    }"
    ng-class="{
      default: Drawing.current.state.tool == 'default',
      draw: Drawing.current.state.tool == 'rectangle' || Drawing.current.state.tool == 'oval', 
      transform: Drawing.current.state.tool == 'transform',
      text: Drawing.current.state.tool == 'text'
    }"
    ng-mousedown="mouseDown($event)" 
    ng-mousemove="mouseMove($event)" 
    ng-mouseup="mouseUp($event)">
    <draw-rect layer="background"></draw-rect>
    <draw-outline layer="background" background="true"></draw-outline>
    <svg ng-repeat="layer in Drawing.current.layers | reverse">
      <draw-rect ng-if="layer.type == 'rectangle'" layer="layer"></draw-rect>
      <draw-oval ng-if="layer.type == 'oval'" layer="layer"></draw-oval>
      <!-- draw-text needs to be on top when this layer is the layerOutline -->
      <draw-text ng-if="layer.type == 'text'" layer="layer"></draw-text>
    </svg>
    <svg>
      <draw-outline ng-if="Drawing.current.layerOutline" layer="Drawing.current.layerOutline"></draw-outline>
    </svg>
    <!-- <text x="100" y="100">d: {{ Drawing.current.state.inTextBox }}</text> -->
  </svg>
  <div class="refresh-wrap" ng-show="!showCanvas">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>