<svg class="layer-outline">
	<rect 
		ng-if="!background"
		ng-show="layer.drawing"
		class="dimension-text-bg"
		width="75"
		height="22"
		rx="5"
		ry="5"
		ng-attr-x="{{ layer.getX() + layer.getWidth() + 10 }}" 
		ng-attr-y="{{ layer.getY() }}" />
  <text 
  	ng-if="!background" 
  	ng-attr-x="{{ layer.getX() + layer.getWidth() + 20 }}" 
  	ng-attr-y="{{ layer.getY() + 15 }}" 
  	class="dimension-text" 
  	ng-show="layer.drawing">{{ layer.getWidth() }} x {{ layer.getHeight() }}</text>
  <rect 
    class="outline" ng-class="{drawing: layer.drawing}"
    ng-attr-x="{{ layer.getX() }}" 
    ng-attr-y="{{ layer.getY() }}" 
    ng-attr-width="{{ layer.getWidth() }}" 
    ng-attr-height="{{ layer.getHeight() }}" />
  <line 
    ng-if="!background"
    class="resize-line resize-line-n"
    ng-attr-x1="{{ layer.getX() }}" 
    ng-attr-x2="{{ layer.getX() + layer.getWidth() }}" 
    ng-attr-y1="{{ layer.getY() - 2 }}" 
    ng-attr-y2="{{ layer.getY() }}" 
    ng-mouseDown="layer.mouseDown($event, 'resizeLineN')" />
  <line 
    ng-if="!background"
    class="resize-line resize-line-e"
    ng-attr-x1="{{ layer.getX() + layer.getWidth() }}" 
    ng-attr-x2="{{ layer.getX() + layer.getWidth() }}" 
    ng-attr-y1="{{ layer.getY() }}" 
    ng-attr-y2="{{ layer.getY() + layer.getHeight() }}" 
    ng-mouseDown="layer.mouseDown($event, 'resizeLineE')" />
  <line 
    ng-if="!background"
    class="resize-line resize-line-s"
    ng-attr-x1="{{ layer.getX() }}" 
    ng-attr-x2="{{ layer.getX() + layer.getWidth() }}" 
    ng-attr-y1="{{ layer.getY() + layer.getHeight() }}" 
    ng-attr-y2="{{ layer.getY() + layer.getHeight() }}"
    ng-mouseDown="layer.mouseDown($event, 'resizeLineS')" />
  <line 
    ng-if="!background"
    class="resize-line resize-line-w"
    ng-attr-x1="{{ layer.getX() }}" 
    ng-attr-x2="{{ layer.getX() }}" 
    ng-attr-y1="{{ layer.getY() }}" 
    ng-attr-y2="{{ layer.getY() + layer.getHeight() }}"
    ng-mouseDown="layer.mouseDown($event, 'resizeLineW')" />

  <!-- diagonal boxes -->
  <rect 
    ng-if="!background"
    class="outline fill resize-diagonal resize-diagonal-nw" ng-class="{drawing: layer.drawing}"
    ng-attr-x="{{ layer.getX() - (DIAGONAL_BOX_SIZE / 2) }}" 
    ng-attr-y="{{ layer.getY() - (DIAGONAL_BOX_SIZE / 2) }}" 
    ng-attr-width="{{ DIAGONAL_BOX_SIZE }}" 
    ng-attr-height="{{ DIAGONAL_BOX_SIZE }}"
    ng-mouseDown="layer.mouseDown($event, 'resizeLineNW')" />
  <rect 
    ng-if="!background"
    class="outline fill resize-diagonal resize-diagonal-ne" ng-class="{drawing: layer.drawing}"
    ng-attr-x="{{ layer.getX() + layer.getWidth() - (DIAGONAL_BOX_SIZE / 2) }}" 
    ng-attr-y="{{ layer.getY() - (DIAGONAL_BOX_SIZE / 2) }}" 
    ng-attr-width="{{ DIAGONAL_BOX_SIZE }}" 
    ng-attr-height="{{ DIAGONAL_BOX_SIZE }}"
    ng-mouseDown="layer.mouseDown($event, 'resizeLineNE')" />
  <rect 
    ng-if="!background"
    class="outline fill resize-diagonal resize-diagonal-se" ng-class="{drawing: layer.drawing}"
    ng-attr-x="{{ layer.getX() + layer.getWidth() - (DIAGONAL_BOX_SIZE / 2) }}" 
    ng-attr-y="{{ layer.getY() + layer.getHeight() - (DIAGONAL_BOX_SIZE / 2) }}" 
    ng-attr-width="{{ DIAGONAL_BOX_SIZE }}" 
    ng-attr-height="{{ DIAGONAL_BOX_SIZE }}"
    ng-mouseDown="layer.mouseDown($event, 'resizeLineSE')" />
  <rect 
    ng-if="!background"
    class="outline fill resize-diagonal resize-diagonal-sw" ng-class="{drawing: layer.drawing}"
    ng-attr-x="{{ layer.getX() - (DIAGONAL_BOX_SIZE / 2) }}" 
    ng-attr-y="{{ layer.getY() + layer.getHeight() - (DIAGONAL_BOX_SIZE / 2) }}" 
    ng-attr-width="{{ DIAGONAL_BOX_SIZE }}" 
    ng-attr-height="{{ DIAGONAL_BOX_SIZE }}"
    ng-mouseDown="layer.mouseDown($event, 'resizeLineSW')" />

</svg>